<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="seed-local" value="./packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="seed-local">
      <package pattern="Moon.*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="globalPackagesFolder" value=".artifacts/nuget" />
  </config>
</configuration>
