[Unit]
Description=Nightly catalog import
Requires=catalog-db.service
Wants=network-online.target
After=network-online.target catalog-db.service

[Service]
Type=oneshot
EnvironmentFile=environment/catalog-import.env
ExecStart=bin/catalog-import --config ${CATALOG_IMPORT_CONFIG}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
