[Unit]
Description=Catalog database readiness
After=network-online.target

[Service]
Type=oneshot
ExecStart=bin/dependency-ready catalog-db.service
RemainAfterExit=yes
